/* Default*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

h1 {
  font-size: 1.5em;
  font-weight: 500;
  color: #222534; }

h2 {
  font-size: 1.3em;
  font-weight: 500;
  color: #222534; }

h3 {
  font-size: 1em;
  color: #3e4150;
  font-weight: 400; }

button {
  margin-top: 1.875em;
  width: 13.75em;
  border: 0.125em solid #222534;
  border-radius: 0.3125em;
  background: white;
  z-index: 2; }
  button p {
    font-size: 1.3em;
    color: #222534;
    font-weight: 400;
    padding: 0.3125em 0.625em 0.3125em 0.625em; }
  button:hover {
    background-color: #21c2f8;
    border-color: snow; }
    button:hover p {
      color: snow; }

.wrap {
  position: absolute;
  background: white;
  width: 5em;
  height: 4.5em;
  border-radius: 100%;
  left: -webkit-calc(50% - 40px);
  left: -moz-calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: 1000; }
  .wrap div {
    position: absolute;
    background: #21c2f8;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    border-radius: 100%;
    text-align: center;
    overflow: hidden; }
    .wrap div i {
      margin-top: 15%;
      color: white; }

.socialContainer {
  border-top: 0.3125em solid #3e4150;
  background: #222534;
  min-height: 2.5em; }
  .socialContainer .socialLinks {
    text-align: center;
    padding-top: 0.625em; }
    .socialContainer .socialLinks i {
      color: #fffefc;
      margin-right: 0.5em;
      margin-left: 0.5em; }

nav {
  position: relative;
  min-height: 4.375em; }
  nav .logo {
    display: inline-block;
    margin-left: 1.25em;
    margin-top: 1.25em;
    max-width: 15%; }
    nav .logo img {
      width: 100%; }
  nav .logoText {
    display: inline-block;
    font-size: 1.5em;
    padding-top: 0.625em;
    padding-bottom: 0.625em; }
    nav .logoText p {
      font-weight: 400;
      color: #3e4150; }
    nav .logoText span {
      font-weight: 500;
      color: #222534; }
  nav .menu {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1.25em;
    margin-top: 1.25em; }
    nav .menu .hamburger {
      border: 0.0625em solid #222534;
      border-radius: 0.25em;
      width: 1.5625em;
      height: 1.5625em; }
      nav .menu .hamburger div {
        margin-left: 0.3125em;
        margin-right: 0.3125em; }
        nav .menu .hamburger div:first-child {
          margin-top: 0.5em;
          border: 0.0625em solid #3e4150; }
        nav .menu .hamburger div:nth-child(2) {
          margin-top: 0.125em;
          border: 0.0625em solid #3e4150; }
        nav .menu .hamburger div:nth-child(3) {
          margin-top: 0.125em;
          border: 0.0625em solid #3e4150; }

.intro {
  position: relative;
  overflow: hidden;
  height: 27.25em;
  margin-bottom: -2.25em; }
  .intro img {
    width: 100%;
    height: 25em; }
  .intro .wrap {
    bottom: 0; }

.aboutMe {
  position: relative;
  text-align: center;
  overflow: visible;
  z-index: 1; }
  .aboutMe .verticalLine {
    width: 0;
    height: 8.125em;
    border: 0.0625em solid #3e4150;
    margin: 0.625em auto;
    z-index: 2; }
  .aboutMe h1 {
    display: block;
    position: absolute;
    top: 3.125em;
    left: -webkit-calc(50% - 2.4em);
    left: -moz-calc(50% - 2.4em);
    left: calc(50% - 2.4em);
    background: white;
    padding-top: 0.3125em;
    padding-bottom: 0.3125em; }
  .aboutMe img {
    display: block;
    width: 12.5em;
    height: 12.5em;
    border-radius: 100%;
    margin-top: 1.875em;
    margin-left: -webkit-calc(50% - 100px);
    margin-left: -moz-calc(50% - 100px);
    margin-left: calc(50% - 100px); }
  .aboutMe h2 {
    margin-top: 1.875em;
    padding-top: 0.3125em;
    padding-bottom: 0.3125em; }
  .aboutMe .info {
    display: block;
    width: 15em;
    margin: 0.625em auto;
    text-align: center; }
  .aboutMe .wrap {
    bottom: -3.25em; }

.btn-highlight div:first-child, .services .servButtons:hover div:first-child {
  background: #00f5c4 !important;
  color: #252c3f !important; }
.btn-highlight div:nth-child(2), .services .servButtons:hover div:nth-child(2) {
  background: #21c2f8 !important; }

.services {
  position: relative;
  width: 100%;
  min-height: 31.25em;
  background: #12111f;
  text-align: center;
  overflow: hidden;
  z-index: 1; }
  .services .wrap:first-child {
    top: -1.875em; }
  .services h1 {
    margin-top: 2.5em;
    margin-bottom: 0.9375em;
    color: snow; }
  .services > div > h3 {
    display: none;
    text-align: left;
    color: #87949D;
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.9375em; }
  .services .servButtons {
    border-radius: 0.3125em;
    max-width: 15em;
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.9375em; }
    .services .servButtons div:first-child {
      color: snow;
      background: #303650;
      width: 20%;
      height: 100%;
      float: left;
      border-radius: 0; }
      .services .servButtons div:first-child i {
        padding-top: 25%; }
    .services .servButtons div:nth-child(2) {
      width: auto;
      background: #252c3f;
      height: 100%; }
      .services .servButtons div:nth-child(2) h3 {
        color: snow;
        padding-top: 0.625em;
        padding-bottom: 0.625em; }
    .services .servButtons div:nth-child(3) {
      clear: both;
      overflow: hidden;
      font-size: 0pt; }
  .services #fourth_text {
    margin-bottom: 6.25em; }
  .services .wrap {
    bottom: -2.5625em; }

.work {
  position: relative;
  width: 100%;
  min-height: 31.25em;
  text-align: center;
  overflow: hidden;
  margin-top: -0.0625em;
  z-index: 1; }
  .work .wrap:first-child {
    top: -1.875em; }
  .work h1 {
    margin-top: 3.125em; }
  .work .imgContainer {
    margin-top: 4.375em; }
    .work .imgContainer img {
      float: left;
      max-width: 20em;
      min-height: 13.875em; }
  .work button {
    margin-top: 5em;
    margin-bottom: 5em; }
  .work .wrap {
    bottom: -2.5625em; }

.quotes {
  position: relative;
  width: 100%;
  max-height: 31.25em;
  text-align: center;
  overflow: hidden;
  margin-top: -0.0625em;
  background: transparent;
  z-index: 1; }
  .quotes .wrap:first-child {
    top: -1.875em; }
  .quotes .slidePics > img {
    width: 100%;
    min-height: 31.25em; }
  .quotes .slidePics:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 37, 52, 0.6);
    background-image: -webkit-radial-gradient(at left, black 2%, transparent 10%), -webkit-radial-gradient(at left, black 4%, transparent 10%), -webkit-radial-gradient(at left, black 4%, transparent 10%);
    background-image: -moz-radial-gradient(at left, black 2%, transparent 10%), -moz-radial-gradient(at left, black 4%, transparent 10%), -moz-radial-gradient(at left, black 4%, transparent 10%);
    background-image: -o-radial-gradient(at left, black 2%, transparent 10%), -o-radial-gradient(at left, black 4%, transparent 10%), -o-radial-gradient(at left, black 4%, transparent 10%);
    background-image: radial-gradient(at left, black 2%, transparent 10%), radial-gradient(at left, black 4%, transparent 10%), radial-gradient(at left, black 4%, transparent 10%);
    -webkit-background-size: 0.25em 0.25em;
    background-size: 0.25em 0.25em;
    background-position: 0 0;
    z-index: 2; }
  .quotes .slideBtn {
    position: absolute;
    bottom: 20%;
    left: -webkit-calc(50% - 52px);
    left: -moz-calc(50% - 52px);
    left: calc(50% - 52px);
    z-index: 1000; }
    .quotes .slideBtn button {
      background: transparent;
      width: 3.125em;
      height: 2.5em;
      border-color: snow;
      border-width: 0.0625em; }
      .quotes .slideBtn button h2 {
        color: snow; }
      .quotes .slideBtn button:hover {
        background: #21c2f8;
        border-color: #21c2f8; }
  .quotes .wrap {
    bottom: -2.5625em; }

.mySkills {
  position: relative;
  width: 100%;
  min-height: 31.25em;
  text-align: center;
  overflow: hidden;
  margin-top: -0.0625em;
  z-index: 1; }
  .mySkills .wrap:first-child {
    top: -1.875em; }

/*# sourceMappingURL=main.css.map */
